body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('img.4.webp');

     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------Header CSS----------------*/

#header{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.navbar-nav{
    display:flex;
    list-style-type: none;
    gap:20px
}
.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
    
}
.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p{
    color: #fff;

}
.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: move 1s infinite alternate;
}
@keyframes mover {
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}

}

/*-----------------About-----------------*/
.about{
    padding-top: 100px;
    padding-bottom: 50px;
}
.profile-img{
    height: 400px;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color: rgb(20, 70, 63);
}
.navbar-brand img{
    height: 50px;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: rgb(43, 5, 5) !important;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
}
.nav-link{
    color: rgb(36, 9, 99) !important;
}.skills-bar p{
margin-bottom: 6px;
font-weight: 600;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar{
    border-radius: 16px;
    background: #000 !important;
}
